@media only screen and (max-width: 575px) {
  .nav {
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
  }

  #logo {
    margin-left: 20px;
  }
  #logo h1 {
    font-size: 1.2rem;
  }
  #logo span {
    font-size: 1.2rem;
  }

  .quote h1 {
    font-size: 1.2rem;
  }
  .explore-button {
    height: 30%;
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .explore-button a {
    font-size: 50%;
  }

  .travel-partner img {
    height: 50px;
  }
  .header-img img {
  height: 250px;
}

}

/* ===========================================================================*/

@media (max-width: 450px) {
  .quote {
    transform: translateY(20px);
  }
  .explore {
    transform: translateY(20px);
  }

  .explore-button {
    height: 15px;
    width: 60px;
    font-size: 0.9rem;
  }

  .quote h1 {
    font-size: 1.5srem;
  }
  .social img {
    height: 50px;
  }
}
/* ===========================================================================*/

@media (max-width: 399px) {
  .quote {
    transform: translateY(30px);
  }
  .quote h1 {
    font-size: .9rem;
  }
  .explore-button {
    width: 60px;
    height: 15px;
    font-size: 0.8rem;
  }
  .explore {
    transform: translateY(20px);
  }
  .travel-partner img {
    height: 40px;
  }
  .copyright {
    font-size: 0.7rem;
  }
  #goto-top img {
    height: 30px;
  }
}
/* ===========================================================================*/

@media (max-width: 499px) {
  #goto-top img {
    bottom: 5%;
    right: 45%;
  }
}
/* ===========================================================================*/

@media(min-width:576px) and (max-width:768px){
  .quote h1{
    font-size: 1.5rem;
  }
  .explore-button{
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: normal;
  }
  .explore-button a{
font-size: .8rem;  
}
.header-img img{
  height: 500px;
}
}

/* ================================================================================== */
#email-box{
   width: 100%;
    z-index: 10;
    bottom:10%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.emails{
height: auto;
width: 300px;
background-color:cadetblue;
text-align: center;
padding: 10px;
border-radius: 15px;



   
}
.emails h1{
  margin: 10px;
    color: black;
    font-weight: bolder;

}
.emails h3{
  font-size: 18px;
    color: black;
    line-height: 50px;

}

@media(min-width:769px) and (max-width:1024px){
    #email-box{
        bottom: 15%;

    }
}
@media(min-width:576px) and (max-width:768px){
    #email-box{
        bottom: 10%;

    }
}
@media(min-width:399px) and (max-width:575px){
    #email-box{
        bottom: 10%;

    }
}
@media(min-width:300px) and (max-width:398px){
    #email-box{
        bottom: 7%;

    }
}